$fa-font-path: "~font-awesome/fonts";
/* weave company colours */
$weave-gray-blue: rgb(85,105,145);
$weave-blue: rgb(0,210,255);
$weave-orange: rgb(255,75,25);
$weave-charcoal-blue: rgb(50,50,75); // #32324B
$success-green: green;

$base-font: "Roboto", sans-serif;
$mono-font: "Menlo", "DejaVu Sans Mono", "Liberation Mono", monospace;

$base-ease: ease-in-out;
$primary-color: $weave-charcoal-blue;

$background-color: #f8f8f8;
$background-lighter-color: lighten($background-color, 8%);
$background-darker-color: darken($background-color, 16%);
$background-darker-secondary-color: darken($background-color, 8%);
$background-dark-color: $primary-color;
$text-color: lighten($primary-color, 5%);
$text-secondary-color: lighten($text-color, 0%);
$text-tertiary-color: lighten($text-color, 0%);
$border-light-color: lighten($text-color, 60%);
$text-darker-color: $primary-color;
$white: $background-lighter-color;

$details-window-width: 420px;
$details-window-padding-left: 30px;
$border-radius: 4px;

$terminal-header-height: 44px;

$node-elements-in-background-opacity: 0.7;

$node-highlight-shadow-opacity: 0.5;
$node-highlight-stroke-opacity: 0.4;
$node-highlight-stroke-width: 0.04;
$node-border-stroke-width: 0.12;
$node-shadow-stroke-width: 0.18;
$node-pseudo-opacity: 0.8;
$node-text-scale: 2;
$edge-highlight-opacity: 0.1;
$edge-opacity-blurred: 0.2;
$edge-opacity: 0.5;
$edge-color: rgb(110, 110, 156);

$btn-opacity-default: 0.7;
$btn-opacity-hover: 1;
$btn-opacity-selected: 0.9;
$btn-opacity-disabled: 0.25;

$link-opacity-default: 0.8;

$search-border-color: transparent;
$search-border-width: 1px;

$timeline-height: 55px;

/* specific elements */
$body-background-color: $background-color;
$label-background-color: fade-out($background-color, .3);
